
<link rel="stylesheet" href="/css/message.css">

<ul class="message d-flex" id="message">
    {{!-- <li class="message-box" id="message-box">
        <div class="message-header d-flex align-items-center">
            <img src="/image/avatar/avatar.jpg" alt="" class="avatar">
            <div class="message-info">
                <div class="author">Nhật bủn</div>
                <div class="time-active fontSize-13px">Hoạt động 7 phút trước</div>
            </div>
            <i class="fa-solid fa-xmark flex-item-right"></i>
        </div> 
        <div class="message-area">
            <ul class="message-list px-0">
                <li class="message-content d-flex align-items-center">
                    <img src="/image/avatar/avatar.jpg" alt="" class="avatar">
                    <p class="message-text my-0">Xin chào bru</p>
                </li>
                <li class="message-content d-flex align-items-center justify-content-end">
                    <p class="message-text my-0">Xin chào bru</p>
                </li>
            </ul>
        </div>
        <form class="message-input">
            <input type="text" id="message-input" placeholder="Nhập tin nhắn...">
            <button class="message-send-btn btn btn-primary">Gửi</button>
        </form> 
    </li> --}}
</ul>

<script type="module" src="/src/controller/messageController.js"></script>
<script type="module" src="/src/component/chatMessageUI.js"></script>
  