<div class="content col-8">
    <div class="head">
        <h1>Trang cá nhân</h1>
        <p>Quản lý thông tin trên trang cá nhân</p>
    </div>
    <div class="body">
        <img src="" alt="">
        <p>Nhật bủn</p>
        <form id="setting-account-form" class="form" >
            <ul>
                <li>
                    <p>Họ và tên</p>
                    <input type="text" id="setting-account-username" placeholder="Nhập họ và tên">
                </li>
                <li>
                    <p>Địa chỉ</p>
                    <input type="text" id="setting-account-address" placeholder="Nhập địa chỉ">
                </li>
                <li>
                    <p>Avatar</p>
                    <input type="file" id="setting-account-avatar" name="file" accept="image/*"  />
                    <img id="setting-account-avatarPreview" src="" alt="Uploaded image will appear here" />
                </li>
            </ul>
            <button type="submit" class="btn">Lưu thay đổi</button>
            <button type="button" class="btn btn-cancel">Hủy</button>
        </form>
    </div>
</div>